.A-about {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.a-heading {
    font-size: 3rem;
    font-weight: 600;
    margin: auto;
}

.about {
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    
}

.about:hover{
    box-shadow: 1px 1px 4px 5px rgb(150, 148, 148);
    transition: 2s ease-in;
}
.about span{
    margin: auto;
    font-size: 1.4rem;
    font-weight: 500;
   
}