.n-name{
  font-size: 2rem;
  font-weight: 600;
  margin-left:2rem ;
}
.navbar{
  background-color: #72a1d1;
  box-shadow: 1px 1px 5px 4px rgb(168, 162, 162) ;
}
.n-name img{
  height: 50px;
  width: 60px;
  border-radius: 50%;
}

@media screen and (min-width: 950px) {
  #n-links{
    margin-left:58% ;
  
  }
}
.link-holder{
  font-size: 1.2rem;
  font-weight: 700;
}
.N-link{
 margin-left: 1rem;
}
.N-link:hover{
 color: #fff !important; ;
}