.Intro {
  display: flex;
  height: 15rem;
}

/* left side styling */

.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 5rem;
}

.i-name> :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name> :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name> :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
  margin-top: 10px;
}

/* right side styling */
.home-img{
  width: 80%;
  margin-top: 3rem;
}






@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    gap: 7rem;
    height: 43rem;
    margin-top: 2rem;
  }

  .home-img {
    width: 100% !important;
    margin-top: 2rem;
  }

  .i-name {
    margin-top: 0% !important;
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }

  .i-right .blur {
    display: none;
  }

  .floating-div:nth-of-type(1) {
    top: -7rem !important;

  }
}