.footer {
 
  width: 100%;
  margin-top: 20%;
}

.f-content {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
  gap: 1rem;
  color: #000;
  background-color: #72a1d1 ;
}

.f-icons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 480px) {
  .footer{
    margin-top: 10%;
    width: 100%;
  }
  .f-content {
    /* transform: scale(.5); */
    width: 100%;
  }
}